
# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

# Visual Studio 2015/2017 cache/options directory
.vs/
/nccLab4/nccLab4.csproj
/nccLab1/Properties/AssemblyInfo.cs
/nccLab1/App.config
/nccLab1/nccLab1.csproj
/nccLab1/nccLab1.slnx
/nccLab2/App.config
/nccLab2/nccLab2.csproj
/nccLab2/nccLab2.slnx
/nccLab2/Properties/AssemblyInfo.cs
/nccLab3/Properties/AssemblyInfo.cs
/nccLab3/App.config
/nccLab3/nccLab3.csproj
/nccLab3/nccLab3.slnx
/nccLab4/App.config
/nccLab4/nccLab4.slnx
/nccLab4/Properties/AssemblyInfo.cs
/nccLab5/Properties/AssemblyInfo.cs
/nccLab5/nccLab5.csproj
/nccLab5/App.config
/nccLab5/nccLab5.slnx
/ncclab6/App.config
/ncclab6/ncclab6.csproj
/ncclab6/ncclab6.slnx
/nccLab7/App.config
/ncclab6/Properties/AssemblyInfo.cs
/nccLab7/Properties/AssemblyInfo.cs
/nccLab7/nccLab7.csproj
/nccLab7/nccLab7.slnx
/nccLab8/App.config
/nccLab8/nccLab8.csproj
/nccLab8/nccLab8.slnx
/nccLab8/Properties/AssemblyInfo.cs
/nccLab9/App.config
/nccLab9/nccLab9.csproj
/nccLab9/nccLab9.slnx
/nccLab9/Properties/AssemblyInfo.cs
/nccLab10/App.config
/nccLab10/nccLab10.csproj
/nccLab10/nccLab10.slnx
/nccLab10/Properties/AssemblyInfo.cs
/nccLab11/App.config
/nccLab11/Properties/AssemblyInfo.cs
/nccLab11/nccLab11.csproj
/nccLab11/nccLab11.slnx
/nccLab12/App.config
/nccLab12/nccLab12.csproj
/nccLab12/nccLab12.slnx
/nccLab12/Properties/AssemblyInfo.cs
/nccLab14/Properties/AssemblyInfo.cs
/nccLab14/App.config
/nccLab14/nccLab14.csproj
/nccLab14/nccLab14.slnx
/nccLab15/Properties/AssemblyInfo.cs
/nccLab15/App.config
/nccLab15/nccLab15.csproj
/nccLab15/nccLab15.slnx
/nccLab16/Properties/AssemblyInfo.cs
/nccLab16/App.config
/nccLab16/nccLab16.csproj
/nccLab16/nccLab16.slnx
/nccLab17/Properties/AssemblyInfo.cs
/nccLab17/App.config
/nccLab17/nccLab17.csproj
/nccLab17/nccLab17.slnx
/nccLab18/Migrations/Configuration.cs
/nccLab18/Migrations/202608261343226_InitialCreate.cs
/nccLab18/Migrations/202608261343226_InitialCreate.Designer.cs
/nccLab18/Migrations/202608261343226_InitialCreate.resx
/nccLab18/Properties/AssemblyInfo.cs
/nccLab18/App.config
/nccLab18/nccLab18.csproj
/nccLab18/nccLab18.slnx
/nccLab18/packages.config
/nccLab19/App.config
/nccLab19/Properties/AssemblyInfo.cs
/nccLab19/nccLab19.csproj
/nccLab19/nccLab19.slnx
/nccLab20/Migrations/202608261651162_InitialCreate.cs
/nccLab20/Migrations/202608261651162_InitialCreate.Designer.cs
/nccLab20/Migrations/202608261651162_InitialCreate.resx
/nccLab20/Migrations/202608261652589_CreatetblEmployee.cs
/nccLab20/Migrations/202608261652589_CreatetblEmployee.Designer.cs
/nccLab20/Migrations/202608261652589_CreatetblEmployee.resx
/nccLab20/Migrations/202608261701576_DataTypeUpdate.cs
/nccLab20/Migrations/202608261701576_DataTypeUpdate.Designer.cs
/nccLab20/Migrations/202608261701576_DataTypeUpdate.resx
/nccLab20/Migrations/Configuration.cs
/nccLab20/Properties/AssemblyInfo.cs
/nccLab20/App.config
/nccLab20/nccLab20.csproj
/nccLab20/nccLab20.slnx
/nccLab20/packages.config
/nccLab13/App.config
/nccLab13/nccLab13.csproj
/nccLab13/nccLab13.slnx
/nccLab13/Properties/AssemblyInfo.cs
