/Compiler/lab1/vowel.exe
/Compiler/lab1/lex.yy.c
/Compiler/lab2/keyword.exe
/Compiler/lab2/lex.yy.c
/Compiler/lab3/lex.yy.c
/Compiler/lab3/palindrome.exe
/Compiler/lab4/lex.yy.c
/Compiler/lab4/whitespace.exe
/Compiler/lab5/balanced.exe
/Compiler/lab5/lex.yy.c
/Compiler/lab6/calculator.exe
/Compiler/lab6/lex.yy.c
/Compiler/lab7/lex.yy.c
/Compiler/lab7/tac.exe
/Compiler/lab8/lex.yy.c
/Compiler/lab8/quadtriples.exe
/Compiler/lab9/lex.yy.c
/Compiler/lab9/machine.exe
/Compiler/lab10/infixprefix.exe
/Compiler/lab10/infixToprefix.exe
/Compiler/lab10/lex.yy.c
/Compiler/lab11/lex.yy.c
/Compiler/lab11/lexicalerror.exe
/Compiler/lab12/folding.exe
/Compiler/lab12/lex.yy.c
/DOTnet/nccLab21/App.config
/DOTnet/nccLab21/nccLab21.csproj
/DOTnet/nccLab21/nccLab21.slnx
/DOTnet/nccLab21/Properties/AssemblyInfo.cs
/DOTnet/nccLab22/Properties/AssemblyInfo.cs
/DOTnet/nccLab22/App.config
/DOTnet/nccLab22/nccLab22.csproj
/DOTnet/nccLab22/nccLab22.slnx
/DOTnet/nccLab23/Properties/AssemblyInfo.cs
/DOTnet/nccLab23/App.config
/DOTnet/nccLab23/nccLab23.csproj
/DOTnet/nccLab23/nccLab23.slnx
/DOTnet/nccLab24/Properties/AssemblyInfo.cs
/DOTnet/nccLab24/App.config
/DOTnet/nccLab24/nccLab24.csproj
/DOTnet/nccLab24/nccLab24.slnx
/DOTnet/nccLab25/Properties/AssemblyInfo.cs
/DOTnet/nccLab25/App.config
/DOTnet/nccLab25/nccLab25.csproj
/DOTnet/nccLab25/nccLab25.slnx



# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

# Visual Studio 2015/2017 cache/options directory
.vs/